h1, h2, h3 {
	margin:0;
}

#main {
	width:250px; height:700px;
	margin:0; padding:1em;
	border:1px solid #000000;
	position:relative;
	float:right;
}

#signin {
	position:absolute;
	display:block;
	top:25%;
}

#signin label {
	width:5em;
	float:left;
	text-align:right;
	margin-right:0.5em;
	display:block;
	font-size:12px;
	font-family:Arial;
}

#signin input {
	width:150px;
}

#signin .submit{
	width:60px;
	padding:.5em;
}

textarea {
	display:block;
	height:60px;
	width:100%;
	position:absolute;
	bottom:0;
}

.conversation {
	width:250px;
	margin:0;
	border:1px solid #000000;
	background:#ffffff;
	display:inline-block;
}
.chats_container {
	width:95%;
	height:300px;
	margin:auto;
	background:#AAAAAA;
}
.chat {
	border:1px solid #000000;
	background:#FFFFFF;
	min-width:100px;
	min-height:100px;
	max-width:250px;
	max-height:300px;
	display:inline-block;
	vertical-align:top;
}

.message {
	width:98%;
	margin:auto;
	background:#DDDDDD;
	border:1px solid #BBBBBB;
	display:block;
	font-family:Arial;
	font-size:11px;
	z-index:5;
	word-wrap:break-word;
}