README.config for LlamaChat-0.8

+-----------------------------------------------------------------+
|           Copyright (C) 2002-2003 Joseph Monti, LlamaChat       |
|                              countjoe@users.sourceforge.net     |
|                                                                 |
| This program is free software; you can redistribute it and/or   |
| modify it under the terms of the GNU General Public License     |
| as published by the Free Software Foundation; either version 2  |
| of the License, or (at your option) any later version.          |
|                                                                 |
| This program is distributed in the hope that it will be useful, |
| but WITHOUT ANY WARRANTY; without even the implied warranty of  |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the   |
| GNU General Public License for more details.                    |
|                                                                 |
| A copy of the GNU General Public License may be found in the    |
| installation directory named "GNUGPL.txt"                       |
|                                                                 |
+-----------------------------------------------------------------+   


This is the README for LlamaChatServer configuration. I should hope to 
explain how to use the configuration file and describe all the available 
options in the configuration file. If you are having trouble, or think
something could be explained in better detail, please contact me at
countjoe@users.sourceforge.net.

The configuration file MUST (unless you change the code and recompile)
be called llamachatconf.xml and MUST be in the execution directory
for LlamaChatServer.

For your convenience I created llamachatconf.xml.sample with the options
that I use. You will want to edit llamachatconf.xml.sample, changing
the options to suit your needs of course, and save as llamachatconf.xml

The first thing that you should notice from the file name is that it is in
XML format. I provided all possible configuraiton options in the sample
so if you dont know XML, dont worry, just edit the appropriate options.

All options must be within a parent LlamaChatServer tag as exampled
in llamachatconf.xml.sample

OPTIONS:

	Port
		sets the port that the conneciton is to be established over
		Attributes:
			value 	- a numerical port value (default: 42412)
		Exampel:
			<Port value="42412" />

	SysLogFile
		defines the location of the system log file
		Attributes:
			value	- the file name (default: llamachat.log)
		Example:
			<SysLogFile value="llamachat.log" />
	
	ChatLogPath
		defines the directory to save the chat log files
		Atributes
			value	- the directory, leave empty for current dir
					  (default: current dir)
		Example:
			<ChatLogPath value="chat_logs" />
	
	AllowAdmin
		allows the use of administrative class users
		Attributes:
			value	- "yes" to allow, "no" to not allow (default: yes)
		Example:
			<AllowAdmin value="yes" />
	
	PassPhrase
		the passphrase used to verify administrators
		Attributes:
			value	- the pass phrase (default: null)
		Example:
			<PassPhrase value="llamatest" />
	
	UserExportFile
		defines the location to store the user listing, including their
		current channel, separated by a newline. If not included,
		user listing will not be saved
		Attributes:
			value	- the file name
		Example:
			<UserExportFile value="users.txt" />
	
	AllowUserChannels
		allows users to create channels
		Attributes:
			value	- "yes" to allow, "admin" to allow only administrators,
					  or "no" to not allow (default: yes)
		Example:
			<AllowUserChannels value="yes" />
	
	DefaultChannel
		defines the name of the default channel that new users will join
		by default when entering
		Attributes:
			value	- the name of the channel (default: Lobby)
		Example:
			<DefaultChannel value="Lobby" />
	
	Channel
		creates a perminent system channel in addition to the default channel. 
		Any number of this option can be created.
		Attributes
			value	- the name of the channel
			pass	- the password to the channel (optional, if not included
					  a password will not be required to enter the channel)
		Example:
			<Channel value="Admin" pass="llamaadmin" />
	
	WelcomeMessage
		defines a welcome message to send to newly connected users. This option
		has no attributes, the message goes between a starting end ending tag. 
		A <br /> tag can be included within this message to create a line break
		This is also the only option that must include an end tag.
		Attributes:
			-- none --
		Example:
			<WelcomeMessage>
				Welcome to LlamaChat Beta Test on http://www.tgpr.org!
			</WelcomeMessage>


If any options are unclear or not working properly please email
the owner of the project, Joseph Monti, at CountJoe@users.sourceforge.net

